.thumb{
    width: 100%;   
    margin: 0 0 20px 0;
    background-color: #fff;
    border-radius: 4px;   
}
.thumb-href{
    display: flex;
    padding: 10px 15px 10px 10px;
}
.thumb-inner{
    margin: 0 0  0 15px;
    .title{
        color: #333333;
        font-size: 18px;
        font-weight: 700;
        display: flex;
    }
    .price{
        color: #009FD7;
        font-size: 18px;
        font-weight: 700;
        display: flex;
    }
    .row{
        margin: 0 0 10px 0;        
    }
}

.param-wrapper{
    display:flex;
    .col{
        margin: 0 40px 0 0;
        &:last-child{
            margin: 0;
        }
    }
    .item{
        display:flex;  
        align-items: center;  
        margin: 0 0 10px 0; 
        color: #666666;  
        svg{
            margin: 0 8px 0 0;
            font-size: 15px;
            color: #009FD7;
        }         
    }
}
.description{
    text-align: left;
    color: #666666;
}